 {% comment %} choice {% endcomment %}
 <div class="detail-img-block">
    <img alt=""  src="{% static "assets/media/products/pd-2.png" %}">
</div>
<div class="detail-img-block">
    <img alt=""  src="{% static "assets/media/products/pd-3.png" %}">
</div>
<div class="detail-img-block">
    <img alt=""  src="assets/media/products/pd-4.png">
</div>
<div class="detail-img-block">
    <img alt=""  src="assets/media/products/pd-1.png">
</div>
<div class="detail-img-block">
    <img alt=""  src="assets/media/products/pd-2.png">
</div>
<div class="detail-img-block">
    <img alt=""  src="assets/media/products/pd-3.png">
</div>
<div class="detail-img-block">
    <img alt=""  src="assets/media/products/pd-4.png">
</div>
</div>
{% comment %}  {% endcomment %}